@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #ECECEC;
  padding: 0 10rem;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2{
  margin-bottom: 2rem;
  text-align: center;
}

.cards-row {
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: center;
  margin-top:2rem;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  height: 100%;
  padding: 2rem;
}

.left-card {
  width: 100%;
  height: 100%;
  min-width: 420px;
  max-width: 720px;
}

.images-grid {
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1.2fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
}

.cell { 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  filter: drop-shadow(0 4px 3px rgba(0,0,0,.2));
}

.flipped-cell {
  background-image: url("https://cdn.glitch.com/56d96ce9-5171-477f-8560-558ec3af0051%2Fcard-back.png?v=1596022698967") !important;
  animation: flip-out 500ms forwards;
}

@keyframes flip-out {
  100% {
    transform: scaleX(-1);
  }
}

@keyframes flip-in {
  100% {
    transform: scaleX(1)
  }
}

.score-container {
  width: 20%;
  margin-left: 2rem;
}